# Ejercicios Modulo 5. Librerías especializadas en datos (Soluciones)

Consideraciones a tener en cuenta: 

* Guardar este documento con el siguiente formato para su entrega: __M5_05_nombre_apellido1_apellido2__
* Realizar los ejercicios con las herramientas vistas en las sesiones. 
* Comentar el código
* Utilizar nombres de variables apropiados, si vais a guardar una nota, llamar a esa variable nota, no n o x

**1) Trabajemos con NumPy**

* Importa numpy y usa un alias para poder utilizar sus recursos
* Crea un array de elementos (del 10 al 100)
* Invertir el array
* Crear un array 3x3 con valores de 0 a 8
* Crear un array identidad de 6x6
* Crear un array con valores al azar con forma 3x3x3
* Crear dos arrays con valores al azar A y B, verificar si son iguales (hay varias opciones, investigar)

In [40]:
# Completa el ejercicio aquí
import numpy as np
matriz1 = np.arange(10,101)
print(matriz1)
matriz2 = np.flip(matriz1, 0)
print(matriz2)
matriz3 = np.arange(0,9).reshape(3,3)
print(matriz3)
identidad6x6 = np.identity(6)
print(identidad6x6)
aleatoria3x3x3 = np.random.randint(1, 1000, size = [3,3,3])
print(aleatoria3x3x3)
A = np.random.randint(0, 1000, size = (10,10))
B = np.random.randint(0, 1000, size = (10,10))
#Opcion de comparación 1 - Función integrada en numpy
print(f"Las matrices A y B {"" if np.array_equal(A, B) == True else "no"} son iguales")
#Opción de comparación 2: utilizando comparación elemento a elemento.
print(np.all(A == B, where = True))

[ 10  11  12  13  14  15  16  17  18  19  20  21  22  23  24  25  26  27
  28  29  30  31  32  33  34  35  36  37  38  39  40  41  42  43  44  45
  46  47  48  49  50  51  52  53  54  55  56  57  58  59  60  61  62  63
  64  65  66  67  68  69  70  71  72  73  74  75  76  77  78  79  80  81
  82  83  84  85  86  87  88  89  90  91  92  93  94  95  96  97  98  99
 100]
[100  99  98  97  96  95  94  93  92  91  90  89  88  87  86  85  84  83
  82  81  80  79  78  77  76  75  74  73  72  71  70  69  68  67  66  65
  64  63  62  61  60  59  58  57  56  55  54  53  52  51  50  49  48  47
  46  45  44  43  42  41  40  39  38  37  36  35  34  33  32  31  30  29
  28  27  26  25  24  23  22  21  20  19  18  17  16  15  14  13  12  11
  10]
[[0 1 2]
 [3 4 5]
 [6 7 8]]
[[1. 0. 0. 0. 0. 0.]
 [0. 1. 0. 0. 0. 0.]
 [0. 0. 1. 0. 0. 0.]
 [0. 0. 0. 1. 0. 0.]
 [0. 0. 0. 0. 1. 0.]
 [0. 0. 0. 0. 0. 1.]]
[[[569 380 170]
  [641 602 239]
  [834 252 529]]

 [[874 514  56]
  [949 604 627]
  [586 582 869]]

 [[127 774 217]
  [591 378 807]
  [617 814 963]]]
Las matrices A y B no son iguales
[[False False False False False False False False False False]
 [False False False False False False False False False False]
 [False False False False False False False False False False]
 [False False False False False False False False False False]
 [False False False False False False False False False False]
 [False False False False False False False False False False]
 [False False False False False False False False False False]
 [False False False False False False False False False False]
 [False False False False False False False False False False]
 [False False False False False False False False False False]]
True

**2) Sigamos con NumPy**

* Crear un array de 100 elementos aleatorios comprendidos entre 1 y 1000 (pueden ser números enteros).
* Este array se llamara dólares
* Crear otro array llamado euros
* Realizar la conversión de los precios en dólares del primer array al segundo array en euros. Se puede serguir la siguiente conversión:
    - 1 EUR = 1,14362 USD
    - 1 USD = 0,874413 EUR
* Mostrar el resultado del array de euros pero redondeado a 2 decimales

In [51]:
# Completa el ejercicio aquí
dolares = np.random.randint(1, 1000, 100)
print(dolares)
euros = dolares * 0.874413
print(np.round(euros, 2))

[793 762 214 430 567 763 464 807 513 885 809  56 163 689 251 815 131 574
 489 669 520 382 357  99 776 457 918 957 699 734 608 586 831 815  51 890
  43 825 230 188 270 962 526 826 595 640  20 738  45 387 731 309  43 766
 932 389 980 162 213 426 473 979 210 270 183 424 720 270  56 742  49 763
 316 426 106 917 587  47 171 456 293 726 792 254 387 232 244 759 777  13
 337  64 414 720 320 913 861  15 671 230]
[693.41 666.3  187.12 376.   495.79 667.18 405.73 705.65 448.57 773.86
 707.4   48.97 142.53 602.47 219.48 712.65 114.55 501.91 427.59 584.98
 454.69 334.03 312.17  86.57 678.54 399.61 802.71 836.81 611.21 641.82
 531.64 512.41 726.64 712.65  44.6  778.23  37.6  721.39 201.11 164.39
 236.09 841.19 459.94 722.27 520.28 559.62  17.49 645.32  39.35 338.4
 639.2  270.19  37.6  669.8  814.95 340.15 856.92 141.65 186.25 372.5
 413.6  856.05 183.63 236.09 160.02 370.75 629.58 236.09  48.97 648.81
  42.85 667.18 276.31 372.5   92.69 801.84 513.28  41.1  149.52 398.73
 256.2  634.82 692.54 222.1  338.4  202.86 213.36 663.68 679.42  11.37
 294.68  55.96 362.01 629.58 279.81 798.34 752.87  13.12 586.73 201.11]

**3) Trabajemos con pandas**

* Importa pandas y usa un alias para poder utilizar sus recursos
* Cargar como dataframe de pandas el csv 05_05_imdb_titulos.csv y mostrar sus 5 primeros registros
* Cargar como dataframe de pandas el csv 05_05_imdb_elenco.csv y mostrar sus 5 primeros registros
* Mostrar el número de registros del dataframe de titulos
* Mostrar el número de registros del dataframe de elenco
* Mostrar las 5 peliculas más antiguas del listado de titulos
* Mostrar las peliculas que en el titulo tienen la palabra "Dracula". También mostrar el número total de peliculas que coincidan con este requisito
* Mostrar los 10 titulos más comunes (que más se repiten)
* Mostrar cual fue la primer pelicula hecha titulada "Romeo and Juliet" 
* Listar todas las peliculas que contengan la palabra "Exorcist" ordenadas de la más vieja a la más reciente
* Mostrar cuantas peliculas fueron hechas en el año 1950
* Mostrar cuantas peliculas fueron hechas de 1950 a 1959
* Mostrar todos los roles o papeles que hubo en la pelicula "The Godfather". También mostrar el número total de coincidencias
* Mostrar el elenco completo ordenado por la clasificacion "n" de la pelicula "Dracula" de 1958
* Mostrar cuantos papeles de "Bruce Wayne" han sido hechos en la historia de las peliculas
* Mostrar cuantos papeles ha hecho "Robert De Niro" en su carrera
* Listado de papeles como protagonista (n=1) que tuvo el actor "Charlton Heston" en la década de los 60's, ordenado por año de forma descendente
* Mostrar cuantos papeles para actores hubo en la década de los 50's
* Mostrar cuantos papeles para actrices hubo en la década de los 50's

In [53]:
# Completa el ejercicio aquí
import pandas as pd
df_titulos = pd.read_csv("05_05_imdb_titulos.csv")
df_elenco = pd.read_csv("05_05_imdb_elenco.csv")

,title,year,name,type,character,n
0,Closet Monster,2015,Buffy #1,actor,Buffy 4,31.0
1,Suuri illusioni,1985,Homo $,actor,Guests,22.0
2,Battle of the Sexes,2017,$hutter,actor,Bobby Riggs Fan,10.0
3,Secret in Their Eyes,2015,$hutter,actor,2002 Dodger Fan,NaN
4,Steve Jobs,2015,$hutter,actor,1988 Opera House Patron,NaN
...,...,...,...,...,...,...
3564645,Stuttur Frakki,1993,Sveinbj?rg ??rhallsd?ttir,actress,Flugfreyja,24.0
3564646,Foxtrot,1988,Lilja ??risd?ttir,actress,D?ra,24.0
3564647,Niceland (Population. 1.000.002),2004,Sigr??ur J?na ??risd?ttir,actress,Woman in Bus,26.0
3564648,U.S.S.S.S...,2003,Krist?n Andrea ??r?ard?ttir,actress,Afgr.dama ? bens?nst??,17.0
3564649,Bye Bye Blue Bird,1999,Rosa ? R?gvu,actress,Pensionatv?rtinde,NaN

In [159]:
print(df_titulos.head())
print(df_elenco.head())
print(f"El dataframe titulos tiene {df_titulos.shape[0]} filas y {df_titulos.shape[1]} columnas")
print(f"El dataframe elenco tiene {df_elenco.shape[0]} filas y {df_elenco.shape[1]} columnas")
#Usamos print (aunque queda peor) para que se quede en el terminal.
print(df_titulos.sort_values(by=['year']).head(5))
#Listamos los elementos de df_titulos que contienen la palabra "Dracula" en el título de la película
print(df_titulos[df_titulos['title'].str.contains('Dracula')==True])
#Mostramos cuántas películas contienen Drácula en su título (cuidado con el acento)
print(f"Existen {df_titulos[df_titulos['title'].str.contains('Dracula')==True].shape[0]} películas sobre Drácula en el dataframe")

#Genereamos una lista con los títulos ordenados por el número de veces que se repiten
listaTitulosOrdenadaPorRepeticiones = df_titulos['title'].value_counts().index.to_list()
#Mostramos los 10 primeros títulos de la lista
print(listaTitulosOrdenadaPorRepeticiones[:10])

#Ordenamos por fecha las películas que tienen como título 'Romeo and Juliet':
df1 = df_titulos[df_titulos['title'] == ('Romeo and Juliet')].sort_values(by=['year'])
#Nos quedamos con el valor del dataframe filtrado que tiene la menor fecha
print(f"La película buscada es {df1['title'][df1['year'] == df1['year'].min()].to_list()[0]} y es del año {df1['year'][df1['year'] == df1['year'].min()].to_list()[0]}")

#Ordenamos por fecha las películas que tienen como título 'Exorcist' ordenadas por fecha de menor a mayor:
print(df_titulos[df_titulos['title'].str.contains('Exorcist') == True].sort_values(by=['year']))

#Películas hechas en el año 1950
print(df_titulos[df_titulos['year'] == 1950])

#películas hechas entre 1950 y 1959 ambos inclusive.
print(df_titulos[((df_titulos['year'] >= 1950) & (df_titulos['year']<= 1959))].sort_values(by=['year']))

                                   title  year
0                                 Mahler  1974
1           Ogon, voda i... mednye truby  1968
2  Ana Nojoom bent alasherah wamotalagah  2014
3                      Malu de Bicicleta  2010
4             Nazareno Apostol: Boy Ahas  1989
                  title  year      name   type                character     n
0        Closet Monster  2015  Buffy #1  actor                  Buffy 4  31.0
1       Suuri illusioni  1985    Homo $  actor                   Guests  22.0
2   Battle of the Sexes  2017   $hutter  actor          Bobby Riggs Fan  10.0
3  Secret in Their Eyes  2015   $hutter  actor          2002 Dodger Fan   NaN
4            Steve Jobs  2015   $hutter  actor  1988 Opera House Patron   NaN
El dataframe titulos tiene 230407 filas y 2 columnas
El dataframe elenco tiene 3564650 filas y 6 columnas
                                                    title  year
13229                                          Miss Jerry  1894
103233                                 The Startled Lover  1898
133020     Reproduction of the Corbett and Jeffries Fight  1899
51528                                Family Troubles (II)  1900
195127  Pierrot's Problem, or How to Make a Fat Wife O...  1900
                               title  year
3903      Bonnie & Clyde vs. Dracula  2008
4851                House of Dracula  1945
13441                 Batman Dracula  1964
20794              Terror of Dracula  2012
21595                 Dracula Rising  1993
...                              ...   ...
214826                 Dracula's Dog  1978
221137                   Dracula Now  2015
224233  The Satanic Rites of Dracula  1973
228121                Son of Dracula  1974
229161            Dracula and Stoker  2012

[83 rows x 2 columns]
Existen 83 películas sobre Drácula en el dataframe
['Hamlet', 'Carmen', 'Macbeth', 'The Outsider', 'Hero', 'The Three Musketeers', 'Othello', 'Maya', 'Kismet', 'Temptation']
La película buscada es Romeo and Juliet y es del año 1916
                                         title  year
88003                             The Exorcist  1973
49658                  O Exorcista de Mulheres  1974
140519                Exorcist II: The Heretic  1977
220073                        Kung Fu Exorcist  1978
17375                         The Exorcist III  1990
132451                        Teenage Exorcist  1991
117797                 Exorcist: The Beginning  2004
94189        Dominion: Prequel to the Exorcist  2005
209250  Costa Chica: Confession of an Exorcist  2006
86354                      Exorcist Chronicles  2007
130686                      The Disco Exorcist  2011
57932                      Exorcist Chronicles  2013
69974                           Shark Exorcist  2015
51101                            Bad Exorcists  2015
151850                              Exorcistas  2015
60700                      Accidental Exorcist  2016
161093                       American Exorcist  2016
195615                    Diary of an Exorcist  2016
228642                  Exorcist House of Evil  2016
                       title  year
68         Emei fei jian xia  1950
176                  Hua jie  1950
223                 Spy Hunt  1950
376                  Sarumba  1950
522             Onu affettim  1950
...                      ...   ...
230060  Deadly Is the Female  1950
230125    Magkumpareng Putik  1950
230136   Kanske en gentleman  1950
230227    Dick Barton at Bay  1950
230278        Alakh Niranjan  1950

[1081 rows x 2 columns]
                             title  year
116244           For Heaven's Sake  1950
77496             Guilty Bystander  1950
150260            Der keusche Adam  1950
150318                 Huramentado  1950
16468              Lockende Gefahr  1950
...                            ...   ...
207373           Jiang shi fu chou  1959
181831           Sa Libis ng Nayon  1959
106514           Menschen im Hotel  1959
54371                Danger Within  1959
198406  Never Steal Anything Small  1959

[12606 rows x 2 columns]

In [179]:
#Mostrar todos los roles o papeles que hubo en la pelicula "The Godfather". También mostrar el número total de coincidencias 
#Se muestran por orden alfabético
print(df_elenco[df_elenco['title'] == 'The Godfather'].sort_values(by = ['name']))
print(f"El número de actores y roles es de {df_elenco[df_elenco['title'] == 'The Godfather'].sort_values(by = ['name']).shape[0]} actores")

# Mostrar el elenco completo ordenado por la clasificacion "n" de la pelicula "Dracula" de 1958
print(df_elenco[((df_elenco['title'] == 'Dracula') & (df_elenco['year'] == 1958))].sort_values(by = ['n']))

#Mostrar cuantos papeles de "Bruce Wayne" han sido hechos en la historia de las peliculas
print(df_elenco[((df_elenco['character'] == 'Bruce Wayne'))].sort_values(by = ['title']))

#Mostrar cuantos papeles ha hecho "Robert De Niro" en su carrera
print(df_elenco[((df_elenco['name'] == 'Robert De Niro'))])

#Listado de papeles como protagonista (n=1) que tuvo el actor "Charlton Heston" en la década de los 60's, ordenado por año de forma descendente
print(df_elenco[((df_elenco['name'] == 'Charlton Heston') & (df_elenco['n'] == 1) & (df_elenco['year'] >= 1960) & (df_elenco['year'] <= 1969))].sort_values(by = ['year']))

#Mostrar cuantos papeles para actores hubo en la década de los 50's
print(df_elenco[((df_elenco['year'] >= 1950) & (df_elenco['year'] <= 1959))].shape[0])

                 title  year            name     type  \
2244677  The Godfather  1972      Abe Vigoda    actor
1260607  The Godfather  1972     Al Lettieri    actor
1381599  The Godfather  1972      Al Martino    actor
1642816  The Godfather  1972       Al Pacino    actor
1847779  The Godfather  1972      Alex Rocco    actor
...                ...   ...             ...      ...
1146749  The Godfather  1972       Tony King    actor
1279489  The Godfather  1972        Tony Lip    actor
2530787  The Godfather  1972   Tybee Brascia  actress
1808526  The Godfather  1972  Victor Rendina    actor
1952800  The Godfather  1972     Vito Scotti    actor

                       character     n
2244677                   Tessio  11.0
1260607                 Sollozzo   9.0
1381599           Johnny Fontane  16.0
1642816         Michael Corleone   2.0
1847779               Moe Greene  22.0
...                          ...   ...
1146749        Tony - Stablehand   NaN
1279489            Wedding Guest   NaN
2530787  Dancer in Wedding Scene   NaN
1808526         Philip Tattaglia  26.0
1952800                 Nazorine  24.0

[76 rows x 6 columns]
El número de actores y roles es de 76 actores
           title  year                   name     type  \
485197   Dracula  1958          Peter Cushing    actor
1242307  Dracula  1958        Christopher Lee    actor
1242308  Dracula  1958        Christopher Lee    actor
822398   Dracula  1958          Michael Gough    actor
3410427  Dracula  1958      Melissa Stribling  actress
3069196  Dracula  1958            Carol Marsh  actress
2677557  Dracula  1958            Olga Dickie  actress
2220986  Dracula  1958        John Van Eyssen    actor
2777216  Dracula  1958          Valerie Gaunt  actress
2731182  Dracula  1958            Janina Faye  actress
2444220  Dracula  1958         Barbara Archer  actress
1285506  Dracula  1958     Charles Lloyd Pack    actor
1453367  Dracula  1958         George Merritt    actor
2357769  Dracula  1958      George Woodbridge    actor
171732   Dracula  1958          George Benson    actor
1347640  Dracula  1958         Miles Malleson    actor
148496   Dracula  1958       Geoffrey Bayldon    actor
423307   Dracula  1958              Paul Cole    actor
1475047  Dracula  1958              Guy Mills    actor
1513434  Dracula  1958  Richard (VIII) Morgan    actor
1524497  Dracula  1958      John (II) Mossman    actor

                        character     n
485197         Doctor Van Helsing   1.0
1242307                   Dracula   2.0
1242308             Count Dracula   2.0
822398                     Arthur   3.0
3410427                      Mina   4.0
3069196                      Lucy   5.0
2677557                     Gerda   6.0
2220986                  Jonathan   7.0
2777216             Vampire Woman   8.0
2731182                     Tania   9.0
2444220                      Inga  10.0
1285506             Doctor Seward  11.0
1453367                 Policeman  12.0
2357769                  Landlord  13.0
171732                   Official  14.0
1347640                Undertaker  15.0
148496                     Porter  16.0
423307                        Lad  17.0
1475047              Coach Driver   NaN
1513434  Coach Driver's Companion   NaN
1524497             Hearse Driver   NaN
                                                     title  year  \
313015                             B@ (Batman Parody Film)  2016
2341434                                             Batman  1943
1111067                                             Batman  1989
414272                                      Batman & Robin  1997
117412                                       Batman Begins  2005
2033963                       Batman Beyond: Rising Knight  2014
1001                                 Batman Fights Dracula  1967
1140283                                     Batman Forever  1995
932271                                      Batman Reboots  2010
1111069                                     Batman Returns  1992
2077555                                    Batman Revealed  2012
1304815                                   Batman and Robin  1949
15783                   Batman v Superman: Dawn of Justice  2016
2250242                                   Batman: Crusader  2014
436781                        Batman: Mask of the Phantasm  1993
2307985              Batman: Return of the Caped Crusaders  2016
436782                            Batman: The Killing Joke  2016
2307987                                  Batman: The Movie  1966
1003771                         Batman: The Shattered Cowl  2016
687004                              Bats in the Clocktower  2011
1364943                 Caped Crusader: Gotham Underground  2016
1364945                     Caped Crusader: The Dark Hours  2014
1748590                                             Gotham  2011
1183764                                          I Had Fun  2015
15809                                       Justice League  2017
463594                         Le Squatch: Master Criminal  2011
463596                     Le Squatch: Master Criminal 2.0  2014
222593                                           She Kills  2016
15825                                        Suicide Squad  2016
463599   The Adventures of the Fatbat Episode II, the I...  2016
463601   The Adventures of the Fatbat Episode III, Quee...  2017
117443                                     The Dark Knight  2008
932273                               The Dark Knight Falls  2015
117444                               The Dark Knight Rises  2012
932275                     The Dark Knight: Not So Serious  2009
77677                                The Lego Batman Movie  2017
77679                                       The Lego Movie  2014
2341445                          The Three Stooges Follies  1974

                            name   type    character     n
313015              Tony Calkins  actor  Bruce Wayne   NaN
2341434             Lewis Wilson  actor  Bruce Wayne   1.0
1111067           Michael Keaton  actor  Bruce Wayne   1.0
414272            George Clooney  actor  Bruce Wayne   2.0
117412            Christian Bale  actor  Bruce Wayne   1.0
2033963           Joe Sobalo Jr.  actor  Bruce Wayne   NaN
1001                 Jing Abalos  actor  Bruce Wayne   1.0
1140283               Val Kilmer  actor  Bruce Wayne   1.0
932271            Mark Hendricks  actor  Bruce Wayne   1.0
1111069           Michael Keaton  actor  Bruce Wayne   1.0
2077555     David B. Stewart III  actor  Bruce Wayne   1.0
1304815            Robert Lowery  actor  Bruce Wayne   1.0
15783                Ben Affleck  actor  Bruce Wayne   1.0
2250242       Andrew Vinogradsky  actor  Bruce Wayne   NaN
436781              Kevin Conroy  actor  Bruce Wayne   1.0
2307985                Adam West  actor  Bruce Wayne   1.0
436782              Kevin Conroy  actor  Bruce Wayne   1.0
2307987                Adam West  actor  Bruce Wayne   1.0
1003771  George (III) Hutchinson  actor  Bruce Wayne   1.0
687004               Doug Fesler  actor  Bruce Wayne   3.0
1364943              Tom Mariano  actor  Bruce Wayne   NaN
1364945              Tom Mariano  actor  Bruce Wayne   1.0
1748590            Josh Prevatte  actor  Bruce Wayne   2.0
1183764          Miles Krofcheck  actor  Bruce Wayne   NaN
15809                Ben Affleck  actor  Bruce Wayne   NaN
463594       William (III) Craft  actor  Bruce Wayne   NaN
463596       William (III) Craft  actor  Bruce Wayne   4.0
222593               Nathan Bonk  actor  Bruce Wayne  11.0
15825                Ben Affleck  actor  Bruce Wayne   NaN
463599       William (III) Craft  actor  Bruce Wayne   NaN
463601       William (III) Craft  actor  Bruce Wayne   NaN
117443            Christian Bale  actor  Bruce Wayne   1.0
932273            Mark Hendricks  actor  Bruce Wayne   1.0
117444            Christian Bale  actor  Bruce Wayne   1.0
932275            Mark Hendricks  actor  Bruce Wayne   2.0
77677                Will Arnett  actor  Bruce Wayne   NaN
77679                Will Arnett  actor  Bruce Wayne   1.0
2341445             Lewis Wilson  actor  Bruce Wayne   NaN
                                                  title  year            name  \
525856                                       15 Minutes  2001  Robert De Niro
525857                                     A Bronx Tale  1993  Robert De Niro
525858                                  American Hustle  2013  Robert De Niro
525859                                     Analyze That  2002  Robert De Niro
525860                                     Analyze This  1999  Robert De Niro
...                                                 ...   ...             ...
525954                                 True Confessions  1981  Robert De Niro
525955  Untitled De Niro - Ramirez - Jakubowicz Project  2017  Robert De Niro
525956                                      Wag the Dog  1997  Robert De Niro
525957                                  We're No Angels  1989  Robert De Niro
525958                               What Just Happened  2008  Robert De Niro

         type                 character    n
525856  actor  Detective Eddie Flemming  1.0
525857  actor                   Lorenzo  1.0
525858  actor           Victor Tellegio  NaN
525859  actor                Paul Vitti  1.0
525860  actor                Paul Vitti  1.0
...       ...                       ...  ...
525954  actor       Father Des Spellacy  1.0
525955  actor                      G.B.  NaN
525956  actor              Conrad Brean  2.0
525957  actor                       Ned  1.0
525958  actor                       Ben  1.0

[103 rows x 6 columns]
                            title  year             name   type  \
944054                     El Cid  1961  Charlton Heston  actor
944052               Diamond Head  1962  Charlton Heston  actor
944101  The Pigeon That Took Rome  1962  Charlton Heston  actor
944102  The Pigeon That Took Rome  1962  Charlton Heston  actor
944103  The Pigeon That Took Rome  1962  Charlton Heston  actor
944038          55 Days at Peking  1963  Charlton Heston  actor
944068               Major Dundee  1965  Charlton Heston  actor
944085  The Agony and the Ecstasy  1965  Charlton Heston  actor
944111               The War Lord  1965  Charlton Heston  actor
944066                   Khartoum  1966  Charlton Heston  actor
944050               Counterpoint  1967  Charlton Heston  actor
944120                 Will Penny  1967  Charlton Heston  actor
944077         Planet of the Apes  1968  Charlton Heston  actor
944074                 Number One  1969  Charlton Heston  actor

                            character    n
944054        El Cid Rodrigo de Vivar  1.0
944052         Richard 'King' Howland  1.0
944101        Captain Paul MacDougall  1.0
944102               Benny the Snatch  1.0
944103                       Narrator  1.0
944038                Maj. Matt Lewis  1.0
944068      Major Amos Charles Dundee  1.0
944085                   Michelangelo  1.0
944111                      Chrysagon  1.0
944066  Gen. Charles 'Chinese' Gordon  1.0
944050                   Lionel Evans  1.0
944120                     Will Penny  1.0
944077                  George Taylor  1.0
944074               Ron 'Cat' Catlan  1.0
210002

In [190]:
print(f"Ha habido {df_elenco[((df_elenco['year'] >= 1950) & (df_elenco['year'] <= 1959))].shape[0]} papeles en la década de los 50")
#Mostrar cuantos papeles para actores hubo en la década de los 50's
print(f"{df_elenco[((df_elenco['year'] >= 1950) & (df_elenco['year'] <= 1959) & (df_elenco['type'] == 'actor'))].shape[0]} papeles han sido interpretados por actores y ")
#Mostrar cuantos papeles para actrices hubo en la década de los 50's
print(f"{df_elenco[((df_elenco['year'] >= 1950) & (df_elenco['year'] <= 1959) & (df_elenco['type'] == 'actress'))].shape[0]} por actrices")

Ha habido 210002 papeles en la década de los 50
153998 papeles han sido interpretados por actores y
56004 por actrices